.col-3 {
  padding:0;
}

.mesa {
  min-height: 27vh;
  height: auto;
  background-color: #DEF2F1;
}

input {
  width: 400px;
  padding: 0 20px;
}

input,
input::-webkit-input-placeholder {
  font-size: 22px;
  line-height: 3;
}

.card-header {
  background-color: #88BDBC;
}

summary {
  outline: none;
  cursor: default;
  font-weight: bolder;
}

