body {
  background-color: #DEF2F1;
  font-family: 'Open Sans', sans-serif;
  cursor: default;
  user-select: none;
  font-size: 130%;
  font-family: 'Ubuntu', sans-serif;
}

header {
  background-color: #88BDBC;
  height: 10vh;
}

a {
	text-decoration: none !important;
	color: black;
  cursor: pointer;
}

a:hover {
	color: #DEF2F1;
	
}

.btn {
  cursor: default !important;
}

.btn-lg {
	border: 3px solid;
  cursor: default !important;
	font-weight: bold !important;
	background-color: #DEF2F1;
}

.btn-primary {
	background-color: #88BDBC;
}

.btn-primary:hover {
	background-color: #6E6658;
	border: 3px solid #88BDBC;
}

input {
  cursor: default;
}

a {
  cursor: default;
}

.i-menu:hover {
  color:white;
}

/* Mudar Brilho do Input quando está on focus */
.form-control:focus {
  box-shadow: 0 0 0 0.25rem #88BDBC;
}

.btn-primary:hover {
	border:0;
}

hr.style-one {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}
button{
  cursor: pointer !important.
}